APP_DOMAIN=erp.clientelegroup.tech
APP_URL=https://erp.clientelegroup.tech
APP_ENV=production
APP_IMAGE_TAG=edge

POSTGRES_DB=clientele_erp
POSTGRES_USER=clientele_erp
POSTGRES_PASSWORD=CHANGE_ME_WITH_A_LONG_SECRET

REDIS_PASSWORD=CHANGE_ME_WITH_A_LONG_SECRET
APP_KEY=base64:GENERATE_A_UNIQUE_APPLICATION_KEY

SMTP_HOST=smtp.exemple.tld
SMTP_PORT=587
SMTP_USERNAME=CHANGE_ME
SMTP_PASSWORD=CHANGE_ME
SMTP_ENCRYPTION=tls
SMTP_FROM_ADDRESS=no-reply@exemple.tld
SMTP_FROM_NAME=Clientèle Group

QR_SIGNING_SECRET=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET
BACKUP_REPOSITORY=CHANGE_ME
BACKUP_PASSWORD=CHANGE_ME
